<div class="member-list-wrapper">
    <h3>My family members are: </h3>
    <div>
        <app-filter (changed)="filterMembers($event)"></app-filter>
    </div>
    <button (click)="initialize()">{{getButtonTile()}}</button>
    <div *ngIf="familyMembers.length">
        <ol>
            <li *ngFor="let member of familyMembers"
                (click)="selectMember(member)">
                <a href="" [routerLink]="['/member', member.firstName]"> {{member.firstName}}</a>
            </li>
        </ol>
    </div>
</div>